<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ToDO List</a>
    <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/">Home</a>
        <%= link_to_if(@current_user, 'Add release', new_task_path,  {:remote => true, 'data-toggle' =>  "modal", class: 'nav-link', 'data-target' => '#modal-window'}){}  %>
    </div>
    <div class="navbar-nav">
        <%= link_to_if(@current_user, "Logout", session_path, remote: true, method: :delete, class: 'nav-link') {} %>
    </div>
</nav>
